node_modules/
.lighthouseci/
*.log
.DS_Store
Thumbs.db
.claude/
.github/

# Playwright
/playwright-report/
/test-results/
/blob-report/

# Editores
.vscode/settings.json
.idea/
*.swp
*.swo

# OS
desktop.ini
ehthumbs.db

# Env
.env
.env.local
